from sprag import Screen, hydrate

from .components import ProtectedAuthCard
from .modules import ProtectedAuthModule


class ProtectedAuthScreen(Screen):
    modules = [ProtectedAuthModule]

    def render(self, data):
        protected_auth = self.module(ProtectedAuthModule)
        protected_auth.set_state(data)
        return hydrate(ProtectedAuthCard, module=protected_auth)
