from sprag import Screen, hydrate

from .components import QueueCard
from .modules import QueueDemoModule


class QueueDemoScreen(Screen):
    modules = [QueueDemoModule]

    def render(self, data):
        queue = self.module(QueueDemoModule)
        queue.set_state(data)
        return hydrate(QueueCard, module=queue)
