from sprag import Screen, hydrate

from .components import WatcherCard
from .modules import WatcherDemoModule


class WatcherDemoScreen(Screen):
    modules = [WatcherDemoModule]

    def render(self, data):
        watcher = self.module(WatcherDemoModule)
        watcher.set_state(data)
        return hydrate(WatcherCard, module=watcher)
