from sprag import Screen, hydrate

from .components import OperationCard
from .modules import OperationDemoModule


class OperationDemoScreen(Screen):
    modules = [OperationDemoModule]

    def render(self, data):
        operation = self.module(OperationDemoModule)
        operation.set_state(data)
        return hydrate(OperationCard, module=operation)
