from sprag import Screen, hydrate

from .components import AnimationCard
from .modules import AnimationDemoModule


class AnimationDemoScreen(Screen):
    modules = [AnimationDemoModule]

    def render(self, data):
        animation = self.module(AnimationDemoModule)
        animation.set_state(data)
        return hydrate(AnimationCard, module=animation)
