from sprag import Screen, hydrate

from app._shared import shell

from .components import WatcherCard
from .modules import WatcherDemoModule


class WatcherDemoScreen(Screen):
    modules = [WatcherDemoModule]

    def render(self, data):
        watcher = self.module(WatcherDemoModule)
        watcher.set_state(data)
        return shell(
            hydrate(WatcherCard, module=watcher),
        )
