{
  "python.analysis.typeCheckingMode": "basic",
  "python.analysis.autoImportCompletions": true,
  "python.analysis.extraPaths": [
    ".",
    ".sprag"
  ],
  "python.formatting.provider": "black",
  "search.exclude": {
    "**/.sprag": true,
    "**/dist": true,
    "**/__pycache__": true
  }
}
