from sprag import Screen, hydrate

from .components import CounterCard
from .modules import CounterModule


class CounterScreen(Screen):
    modules = [CounterModule]

    def render(self, data):
        counter = self.module(CounterModule)
        return hydrate(CounterCard, module=counter)
