from sprag import Screen, hydrate

from .components import {{class_name}}Card
from .modules import {{class_name}}Module


class {{class_name}}Screen(Screen):
    modules = [{{class_name}}Module]

    def render(self, data):
        module = self.module({{class_name}}Module)
        return hydrate({{class_name}}Card, module=module)
